.container {
    max-width: 980px;
    padding: 2rem 1rem;
    margin: 0 auto;

    color: #777777;
    font-family: Lato;

    .top {
        margin-top: 3rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            margin: 2rem 0;

            font-style: italic;
            font-size: 0.9rem;
        }

        p {
            text-align: justify;
            line-height: 1.5;
        }
    }

    .center {
        margin-top: 3rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;

        .profile {
            display: flex;
            flex-direction: column;

            h4 {
                margin-bottom: 3rem;

                text-align: center;
            }

            img {
                width: 100%;
                
                opacity: 0.6;
                z-index: 0;

                &:hover {
                    opacity: 1;
                }
            }
        }

        p {
            line-height: 1.5;
            text-align: justify;
        }
    }

    .bottom {
        margin-top: 3rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-weight: normal;
            font-size: 1.1rem;
        }

        .skillsGroup {
            width: 100%;
            
            margin-top: 2rem;
        }
    }
}
