.container {
    padding: 4rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #616161;

    &:hover {
        background-color: black;

        button {
            color: black;
        }
    }

    a {
        width: max-content;
        padding: 0.75rem 1rem;

        display: flex;
        align-items: center;

        color: #616161;
        background-color: white;
        text-decoration: none;
        border: none;

        cursor: pointer;
        transition: none;

        &:hover {
            color: black;
            background-color: #cccccc;

            transition: none;
        }

        svg {
            margin-right: 0.75rem;
            
            font-size: 1.25rem;

            transition: none;

            &:hover {
                transition: none;
            }
        }

        span {
            font-size: 1rem;
        }
    }

    div {
        margin: 1.5rem 0 1rem;

        svg {
            font-size: 1.5rem;
            fill: white;

            cursor: pointer;

            transition: none;
            &:hover {
                fill: lightgrey;
                
                transition: none;
            }
        }
    }

    p {
        color: white;

        span {
            text-decoration: underline;

            cursor: pointer;
        }
    }
}
