.container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;

    color: white;
    background-color: #616161;

    div {
        padding: 2rem;
    }
}

@media (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        div {
            text-align: center;
        }
    }
}
